name: Test

on:
  push:
    branches-ignore:
      - 'master'
    tags-ignore:
      - '**'

jobs:
  Test:
    name: Test Node.js ${{ matrix.node }} on ${{ matrix.os }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node: ['24']
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - run: npm install -g npm@11
      - run: npm ci
      - run: npm install -g .
      - run: npm test
